//-----Variablen-----//
$small-1: 4px;
$small-2: 8px;
$small-3: 12px;
$medium-1: 16px;
$medium-2: 20px;
$medium-3: 24px;
$large-1: 32px;
$large-2: 48px;
$large-3: 64px;

$primary: #55A1E1;
$secondary: #166EAD;
$tertiary: #EFBD5B;
$text-light: #fff;
$text-dark: #333;

$font: 'Inter', sans-serif;
$font-2: 'Open Sans', sans-serif;

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FAFAFA;
    margin: 0;
    padding: 0;
    font-family: $font;
    color: $text-dark;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

p {
    font-size: 300;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $medium-2 $large-1;
    background-color: #fff;

    img {
        width: 180px;
        height: 80px;
        object-fit: cover;
    }

    nav {
        width: 45%;

        ul {
            display: flex;
            justify-content: space-between;

            li {
                list-style: none;

                a {
                    color: #333;
                    text-decoration: none;
                    font-size: $medium-2;
                    font-weight: 300;
                }
            }
        }
    }

    button {
        width: 180px;
        height: $large-2;
        border-radius: $medium-3;
        border: none;
        background-color: $tertiary;

        a {
            color: $text-light;
            text-decoration: none;
            font-size: $medium-2;
            font-weight: 300;
        }
    }
}

.welcome {
    .bg-img {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 620px;
    }

    .welcome-inner {
        position: absolute;
        z-index: 2;
        width: 70%;
        padding: 80px $large-3;
        letter-spacing: 1px;

        .subtitle {
            color: $text-dark;
            font-size: $medium-2;
            font-weight: 500;
            margin-bottom: $medium-2;
        }

        h1 {
            color: $text-light;
            font-weight: 600;
            font-size: $large-3;
            margin-bottom: $medium-2;
        }

        p {
            color: $text-light;
            font-size: $medium-1;
            font-weight: 300;
            line-height: 28px;
        }

        .links {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 45%;
            padding: 0;
            margin-top: $large-2;

            button {
                width: 200px;
                height: $large-2;
                border-radius: $medium-3;
                border: none;
                background-color: $tertiary;
            }

            a {
                color: $text-light;
                font-size: $medium-1;
                font-weight: 300;
                text-decoration: none;
            }
        }
    }
}

.goals {
    margin-top: 648px;
    padding: 0 80px;

    .companyGoals {
        color: #166EAD;
        text-align: center;
    }

    h1 {
        color: #333;
        text-align: center;
        font-size: xxx-large;
    }

    .new {
        margin-top: 24px;
        text-align: center;
        line-height: $medium-3;
    }

    .leistungen-home {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $large-2 0;

        button {
            width: 300px;
            height: 350px;
            border-radius: $large-2;
            background-color: transparent;
            border: 1px solid rgba($color: #333, $alpha: 0.6);

            img {
                width: 30%;
                margin-bottom: $medium-3;
            }

            p {
                font-size: $medium-2;
                font-weight: 300;
                letter-spacing: 2px;
            }
        }
    }

    .produkte-und-leistungen {
        width: 100%;
        height: 100px;
        border-radius: $large-2;
        background-color: transparent;
        border: 1px solid rgba($color: #333, $alpha: 0.6);
        margin-bottom: $large-2;

        p {
            font-size: $medium-2;
            font-weight: 300;
            letter-spacing: 2px;
        }
    }
}

.kontakt {
    .bg-img2 {
        position: absolute;
        z-index: 3;
        width: 100%;
        height: 620px;
    }

    .kontakt-inner {
        position: absolute;
        z-index: 4;
        width: 100%;
        height: 620px;
        display: flex;
        justify-content: space-between;
        padding: $large-2 0 $large-2 $large-2;

        div {
            width: 45%;
            letter-spacing: 1px;

            .subtitle {
                color: $text-dark;
                font-size: $medium-2;
                font-weight: 500;
                margin-bottom: $medium-2;

            }

            h1 {
                color: $text-light;
                font-weight: 600;
                font-size: 54px;
                margin-bottom: $medium-2;
            }

            p {
                color: $text-light;
                font-size: $medium-1;
                font-weight: 300;
                line-height: 24px;
                text-align: justify;
            }

            form {
                p {
                    font-size: $medium-1;
                }

                input {
                    width: 80%;
                    height: $large-2;
                    margin-bottom: $small-1;
                    border: none;
                    border-radius: $small-2;
                    color: $text-dark;
                    padding: $small-3;
                    font-size: $medium-1;
                    letter-spacing: 1px;
                }

                input:focus {
                    border: none;
                }
            }

            .kontakt-datenschutz {
                width: 500px;
                font-size: $small-2;
                line-height: $small-3;
                text-align: justify;
                margin-bottom: $medium-2;
            }

            button {
                width: 200px;
                height: $large-2;
                border-radius: $medium-3;
                border: none;
                background-color: $tertiary;
                color: $text-light;
                font-size: $medium-1;
            }

            button:hover {
                filter: brightness(0.9);
                transition: 0.3s ease-in;
                cursor: pointer;
            }
        }
    }
}

footer {
    width: 100%;
    height: 400px;
    background-color: #fff;
    margin-top: 620px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: $large-3 100px;

    div {
        width: calc(100% / 3);

        img {
            width: 300px;
            margin-bottom: 100px;
        }

        .nav-light {
            ul {
                padding-inline-start: 0;

                li {
                    list-style: none;
                    height: $large-2;

                    a {
                        text-decoration: none;
                        color: $text-dark;
                        font-size: $medium-2;
                        font-weight: 300;
                        letter-spacing: 2px;
                    }
                }

            }
        }

        .nav-bold {
            ul {
                padding-inline-start: 0;

                li {
                    list-style: none;
                    height: $large-3;

                    a {
                        text-decoration: none;
                        color: $text-dark;
                        font-size: $medium-3;
                        font-weight: 400;
                        letter-spacing: 2px;
                    }
                }

            }
        }

        .social-media {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 300px;
            margin-top: $medium-2;

            img {
                width: $large-3;
                height: $large-3;
            }
        }
    }
}