* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FAFAFA;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: #333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

p {
  font-size: 300;
}

header {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 32px;
  background-color: #fff;
}

header img {
  width: 180px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}

header nav {
  width: 50%;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  color: #333;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
}

header button {
  width: 180px;
  height: 48px;
  border-radius: 24px;
  border: none;
  background-color: #EFBD5B;
}

header button a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
}

.welcome .bg-img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 580px;
}

.welcome .welcome-inner {
  position: absolute;
  z-index: 2;
  width: 55%;
  max-width: 770px;
  padding: 64px;
  letter-spacing: 1px;
}

.welcome .welcome-inner .subtitle {
  color: #333;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.welcome .welcome-inner .welcome-inner-text {
  height: 105px;
}

.welcome .welcome-inner h1 {
  color: #fff;
  font-weight: 600;
  font-size: 48px;
  margin-bottom: 20px;
}

.welcome .welcome-inner p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

.welcome .welcome-inner .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  padding: 0;
  margin-top: 48px;
}

.welcome .welcome-inner .links button {
  width: 200px;
  height: 48px;
  border-radius: 24px;
  border: none;
  background-color: #EFBD5B;
}

.welcome .welcome-inner .links a {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: 1px;
}

.goals {
  margin-top: 648px;
  padding: 0 120px;
}

.goals .companyGoals {
  color: #166EAD;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
}

.goals h1 {
  text-align: center;
  font-size: 32px;
  letter-spacing: 1px;
  margin: 12px 0;
}

.goals .new {
  margin-top: 24px;
  text-align: center;
  line-height: 24px;
  font-size: 16px;
  letter-spacing: 1px;
}

.goals .leistungen-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 64px 0;
}

.goals .leistungen-home button {
  width: 280px;
  height: 300px;
  border-radius: 48px;
  background-color: #fafafa;
  border: 1px solid rgba(51, 51, 51, 0.6);
}

.goals .leistungen-home button img {
  width: 30%;
  margin-bottom: 24px;
}

.goals .leistungen-home button p {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
}

.goals .leistungen-home button:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.goals .leistungen-home button:hover p {
  font-size: 21px;
  font-weight: 500;
  text-shadow: 4px 4px 12px 12px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.goals .produkte-und-leistungen {
  width: 100%;
  height: 80px;
  border-radius: 48px;
  background-color: #fafafa;
  border: 1px solid rgba(51, 51, 51, 0.6);
}

.goals .produkte-und-leistungen p {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
}

.goals .produkte-und-leistungen:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.goals .produkte-und-leistungen:hover p {
  font-size: 21px;
  font-weight: 500;
  text-shadow: 4px 4px 12px 12px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.goals .mitarbeiter-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 48px;
}

.goals .mitarbeiter-1 img {
  margin-bottom: 16px;
  width: 280px;
  height: 320px;
}

.goals .mitarbeiter-1 h2 {
  font-size: 24px;
  margin-bottom: 4px;
}

.goals .mitarbeiter-1 p {
  font-size: 16px;
}

.goals .mitarbeiter-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 80px;
  margin-top: 32px;
  margin-bottom: 64px;
}

.goals .mitarbeiter-2 img {
  margin-bottom: 16px;
  width: 280px;
  height: 320px;
}

.goals .mitarbeiter-2 h2 {
  font-size: 24px;
  margin-bottom: 4px;
}

.goals .mitarbeiter-2 p {
  font-size: 16px;
}

.techrise {
  margin: 64px 0;
}

.techrise .subtitle-1 {
  color: #166EAD;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
}

.techrise .subtitle-2 {
  color: #333;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}

.techrise h1 {
  color: #333;
  text-align: center;
  font-size: 32px;
  letter-spacing: 1px;
  margin: 12px 0;
}

.techrise .bg-img-2 {
  margin: 32px 0;
}

.techrise .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.techrise .carousel article {
  margin-top: 24px;
  padding: 0 100px;
  width: 100%;
  height: 200px;
  display: none;
}

.techrise .carousel article .description {
  text-align: center;
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 24px;
  letter-spacing: 1px;
}

.techrise .carousel .fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.techrise nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.techrise nav button {
  width: 48px;
  height: 48px;
  border: none;
  background-color: transparent;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.techrise nav button:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.techrise nav button img {
  width: 32px;
  height: 32px;
}

.techrise nav div {
  text-align: center;
  width: 48px;
  margin: 0;
  padding: 0;
}

.kontakt .bg-img2 {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 620px;
}

.kontakt .kontakt-inner {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 48px 0 48px 48px;
}

.kontakt .kontakt-inner div {
  width: 45%;
  letter-spacing: 1px;
}

.kontakt .kontakt-inner div .subtitle {
  color: #333;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.kontakt .kontakt-inner div h1 {
  color: #fff;
  font-weight: 600;
  font-size: 54px;
  margin-bottom: 20px;
}

.kontakt .kontakt-inner div p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: justify;
}

.kontakt .kontakt-inner div form p {
  font-size: 16px;
}

.kontakt .kontakt-inner div form input {
  width: 80%;
  height: 48px;
  margin-bottom: 4px;
  border: none;
  border-radius: 8px;
  color: #333;
  padding: 12px;
  font-size: 16px;
  letter-spacing: 1px;
}

.kontakt .kontakt-inner div form input:focus {
  border: none;
}

.kontakt .kontakt-inner div .kontakt-datenschutz {
  width: 80%;
  font-size: 8px;
  line-height: 12px;
  text-align: justify;
  margin-bottom: 20px;
}

.kontakt .kontakt-inner div button {
  width: 200px;
  height: 48px;
  border-radius: 24px;
  border: none;
  background-color: #EFBD5B;
  color: #fff;
  font-size: 16px;
}

.kontakt .kontakt-inner div button:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  cursor: pointer;
}

.kontaktformular {
  margin-top: 648px;
  color: #333;
}

.kontaktformular .bg-img-3 {
  background-color: #FAFAFA;
}

.kontaktformular h1, .kontaktformular p {
  color: #333 !important;
}

.kontaktformular .subtitle {
  color: #55A1E1 !important;
}

.referenzen {
  margin-top: 648px;
  padding: 0 120px;
}

.referenzen .rezensionen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.referenzen .rezensionen div {
  width: 320px;
  height: 300px;
  border-radius: 48px;
  border: 1px solid rgba(51, 51, 51, 0.6);
  background-color: #fff;
  padding: 16px;
  text-align: center;
}

.referenzen .rezensionen div .logos {
  height: 64px;
  width: 240px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 auto 12px auto;
}

.referenzen .rezensionen div .stars {
  height: 24px;
  margin: 0 auto 16px auto;
}

.referenzen .rezensionen div p {
  font-size: 16px;
  color: #333;
  line-height: 24px;
  letter-spacing: 1px;
}

.referenzen .rezensionen .rezension-mitte {
  height: 340px;
}

.referenzen .more {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 1px;
  color: #55A1E1;
  margin-top: 32px;
}

footer {
  width: 100%;
  height: 360px;
  background-color: #fff;
  margin-top: 660px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 64px 100px;
}

footer div {
  width: calc(100% / 3);
}

footer div img {
  width: 300px;
  margin-bottom: 64px;
}

footer div .nav-light ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

footer div .nav-light ul li {
  list-style: none;
  height: 48px;
}

footer div .nav-light ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
}

footer div .nav-bold ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

footer div .nav-bold ul li {
  list-style: none;
  height: 64px;
}

footer div .nav-bold ul li a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
}

footer div .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  margin-top: 20px;
}

footer div .social-media img {
  width: 64px;
  height: 64px;
}

.kontakt-footer {
  margin-top: 1268px;
}
/*# sourceMappingURL=style.css.map */