//-----Variablen-----//
$small-1: 4px;
$small-2: 8px;
$small-3: 12px;
$medium-1: 16px;
$medium-2: 20px;
$medium-3: 24px;
$large-1: 32px;
$large-2: 48px;
$large-3: 64px;

$primary: #55A1E1;
$secondary: #166EAD;
$tertiary: #EFBD5B;
$text-light: #fff;
$text-dark: #333;

$font: 'Inter', sans-serif;
$font-2: 'Open Sans', sans-serif;

//-----General CSS-----//
* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FAFAFA;
    margin: 0;
    padding: 0;
    font-family: $font;
    color: $text-dark;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

p,
a {
    font-size: 300;
}


//-----Desktop-Version-----//
@media screen {
    header {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $medium-2 $large-1;
        background-color: #fff;

        img {
            width: 180px;
            height: 80px;
            object-fit: cover;
        }

        nav {
            width: 50%;

            ul {
                display: flex;
                justify-content: space-between;
                padding: 0;

                li {
                    list-style: none;

                    a {
                        color: #333;
                        text-decoration: none;
                        font-size: $medium-2;
                    }
                }
            }
        }

        button {
            width: 180px;
            height: $large-2;
            border-radius: $medium-3;
            border: none;
            background-color: $tertiary;

            a {
                color: $text-light;
                text-decoration: none;
                font-size: $medium-2;
            }
        }
    }

    .welcome {
        .bg-img {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 580px;
        }

        .welcome-inner {
            position: absolute;
            z-index: 2;
            width: 55%;
            max-width: 770px;
            padding: $large-3;
            letter-spacing: 1px;

            .subtitle {
                color: $text-dark;
                font-size: $medium-2;
                font-weight: 500;
                margin-bottom: $medium-2;
            }

            .welcome-inner-text {
                height: 105px;
            }

            h1 {
                color: $text-light;
                font-weight: 600;
                font-size: $large-2;
                margin-bottom: $medium-2;
            }

            p {
                color: $text-light;
                font-size: $medium-1;
                line-height: 28px;
            }

            .links {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 70%;
                padding: 0;
                margin-top: $large-2;

                button {
                    width: 200px;
                    height: $large-2;
                    border-radius: $medium-3;
                    border: none;
                    background-color: $tertiary;
                }

                a {
                    color: $text-light;
                    font-size: $medium-1;
                    text-decoration: none;
                    letter-spacing: 1px;
                }
            }
        }
    }

    .goals {
        margin-top: 648px;
        padding: 0 180px;

        .companyGoals {
            color: #166EAD;
            text-align: center;
            font-size: $medium-1;
            letter-spacing: 1px;
        }

        h1 {
            text-align: center;
            font-size: $large-1;
            letter-spacing: 1px;
            margin: $small-3 0;
        }

        .new {
            margin-top: 24px;
            text-align: center;
            line-height: $medium-3;
            font-size: $medium-1;
            letter-spacing: 1px;
        }

        .services-home {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: $large-3 0;

            button {
                width: 25%;
                height: 400px;
                border-radius: $large-2;
                background-color: #fafafa;
                border: 1px solid rgba($color: #333, $alpha: 0.6);

                img {
                    width: 30%;
                    margin-bottom: $medium-3;
                }

                p {
                    font-size: $medium-2;
                    letter-spacing: 2px;
                }
            }

            button:hover {
                filter: brightness(0.9);

                p {
                    font-size: 21px;
                    font-weight: 500;
                    text-shadow: 4px 4px 12px 12px;
                    transition: 0.3s ease;
                }
            }
        }

        .products-and-services {
            width: 100%;
            height: 80px;
            border-radius: $large-2;
            background-color: #fafafa;
            border: 1px solid rgba($color: #333, $alpha: 0.6);

            p {
                font-size: $medium-2;
                letter-spacing: 2px;
            }

            &:hover {
                filter: brightness(0.9);

                p {
                    font-size: 21px;
                    font-weight: 500;
                    text-shadow: 4px 4px 12px 12px;
                    transition: 0.3s ease;
                }
            }
        }

        .workers-1 {
            display: flex;
            justify-content: center;
            margin: $large-3 0;
            gap: 10%;

            img {
                margin-bottom: $medium-1;
                width: 100%;
                height: auto;
            }

            h2 {
                font-size: $medium-3;
                margin-bottom: $small-1;
            }

            p {
                font-size: $medium-1;
            }
        }
    }

    .techrise {
        margin: $large-3 0;

        .subtitle-1 {
            color: #166EAD;
            text-align: center;
            font-size: $medium-2;
            letter-spacing: 1px;
        }

        .subtitle-2 {
            color: #333;
            text-align: center;
            font-size: $medium-2;
            font-weight: 500;
            letter-spacing: 1px;
        }

        h1 {
            color: #333;
            text-align: center;
            font-size: $large-1;
            letter-spacing: 1px;
            margin: $small-3 0;
        }

        .bg-img-2 {
            margin: $large-1 0;
            width: 100%;
            height: 550px;
        }

        .carousel {
            display: flex;

            article {
                margin-top: 24px;
                padding: 0 180px;
                width: 100%;
                height: 200px;
                display: none;

                .description {
                    text-align: center;
                    line-height: $medium-3;
                    font-size: $medium-1;
                    margin-bottom: 24px;
                    letter-spacing: 1px;
                }
            }

            .fade {
                animation-name: fade;
                animation-duration: 1s;
            }

            @keyframes fade {
                from {
                    opacity: 0;
                }

                to {
                    opacity: 1
                }
            }

        }

        nav {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: $medium-2;

            button {
                width: $large-2;
                height: $large-2;
                border: none;
                background-color: transparent;
                object-fit: cover;
                cursor: pointer;

                &:hover {
                    filter: brightness(0.9);
                }

                img {
                    width: $large-1;
                    height: $large-1;
                }
            }

            div {
                text-align: center;
                width: $large-2;
                margin: 0;
                padding: 0;
            }
        }
    }

    .contact {
        .bg-img2 {
            position: absolute;
            z-index: 3;
            width: 100%;
            height: 620px;
        }

        .contact-inner {
            position: absolute;
            z-index: 4;
            width: 100%;
            height: 620px;
            display: flex;
            justify-content: space-between;
            padding: $large-2 0 $large-2 $large-2;

            div {
                width: 45%;
                letter-spacing: 1px;

                .subtitle {
                    color: $text-dark;
                    font-size: $medium-2;
                    font-weight: 500;
                    margin-bottom: $medium-2;

                }

                h1 {
                    color: $text-light;
                    font-weight: 600;
                    font-size: 54px;
                    margin-bottom: $medium-2;
                }

                p {
                    color: $text-light;
                    font-size: $medium-1;
                    line-height: 24px;
                    text-align: justify;
                }

                form {
                    p {
                        font-size: $medium-1;
                    }

                    input {
                        width: 80%;
                        height: $large-2;
                        margin-bottom: $small-1;
                        border: none;
                        border-radius: $small-2;
                        color: $text-dark;
                        padding: $small-3;
                        font-size: $medium-1;
                        letter-spacing: 1px;
                    }

                    input:focus {
                        border: none;
                    }
                }

                .contact-privacy {
                    width: 80%;
                    font-size: $small-2;
                    line-height: $small-3;
                    text-align: justify;
                    margin-bottom: $medium-2;
                }

                button {
                    width: 200px;
                    height: $large-2;
                    border-radius: $medium-3;
                    border: none;
                    background-color: $tertiary;
                    color: $text-light;
                    font-size: $medium-1;
                }

                button:hover {
                    filter: brightness(0.9);
                    transition: 0.3s ease-in;
                    cursor: pointer;
                }
            }
        }
    }

    .contact-form {
        margin-top: 648px;
        color: #333;

        .bg-img-3 {
            background-color: #FAFAFA;
        }

        h1,
        p {
            color: #333 !important;
        }

        .subtitle {
            color: $primary !important;
        }
    }

    .references {
        margin-top: 648px;
        padding: 0 120px;

        .reviews {
            display: flex;
            justify-content: space-between;

            div {
                width: 30%;
                height: 320px;
                border-radius: $large-2;
                border: 1px solid rgba($color: #333, $alpha: 0.6);
                background-color: #fff;
                padding: $medium-1;
                text-align: center;

                .logos {
                    height: auto;
                    width: 70%;
                    align-self: center;
                    margin: 0 auto $small-3 auto;
                }

                .stars {
                    height: $medium-3;
                    margin: 0 auto $medium-1 auto;
                }

                p {
                    font-size: $medium-1;
                    color: $text-dark;
                    line-height: $medium-3;
                    letter-spacing: 1px;
                }

            }

            .review-center {
                height: 360px;
            }
        }

        .more {
            text-align: center;
            font-size: $medium-1;
            font-weight: 500;
            line-height: $medium-3;
            letter-spacing: 1px;
            color: $primary;
            margin-top: $large-1;
        }
    }

    .services {
        margin-top: 648px;
        padding: 0 20%;


        .service {
            letter-spacing: 1px;
            margin-bottom: 100px;

            .subtitle {
                color: #166EAD;
                font-size: $medium-1;
                text-align: center !important;
            }

            h1 {
                font-size: $large-1;
                margin: $small-3 0;
                text-align: center;
            }

            p {
                margin-top: 24px;
                line-height: $medium-3;
                font-size: $medium-1;
                text-align: justify;
            }

            ul {
                li {
                    margin-bottom: $small-1;
                    font-size: $medium-1;
                }
            }
        }
    }

    .service:last-child {
        margin-bottom: $large-3;
    }

    footer {
        width: 100%;
        height: 360px;
        background-color: #fff;
        margin-top: 684px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: $large-3 100px;

        div {
            width: calc(100% / 3);

            img {
                width: 80%;
                max-width: 300px;
                margin-bottom: $large-3;
            }

            .nav-light {
                ul {
                    padding-inline-start: 0;

                    li {
                        list-style: none;
                        height: $large-2;

                        a {
                            text-decoration: none;
                            color: $text-dark;
                            font-size: $medium-1;
                            letter-spacing: 2px;
                        }
                    }

                }
            }

            .nav-bold {
                ul {
                    padding-inline-start: 0;

                    li {
                        list-style: none;
                        height: $large-3;

                        a {
                            text-decoration: none;
                            color: $text-dark;
                            font-size: $medium-2;
                            font-weight: 400;
                            letter-spacing: 2px;
                        }
                    }

                }
            }

            .social-media {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 300px;
                margin-top: $medium-2;

                img {
                    width: $large-3;
                    height: $large-3;
                }
            }
        }
    }

    .contact-footer {
        margin-top: 1268px;
    }
}


//-----Tablet-Version-----//
@media screen and (max-width: 999px) {
    header {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $medium-1 $medium-3;
        background-color: #fff;

        img {
            width: 120px;
            height: $large-3;
            height: auto;
            object-fit: cover;
        }

        nav {
            width: 45%;

            ul {
                display: flex;
                justify-content: space-between;
                padding: 0;

                li {
                    list-style: none;

                    a {
                        color: #333;
                        text-decoration: none;
                        font-size: $medium-1;
                    }
                }

                li:first-child {
                    display: none;
                }
            }
        }

        button {
            width: 20%;
            height: 40px;
            border-radius: $medium-3;
            border: none;
            background-color: $tertiary;

            a {
                color: $text-light;
                text-decoration: none;
                font-size: $medium-1;
            }
        }
    }

    .welcome {
        .bg-img {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 410px;
        }

        .welcome-inner {
            position: absolute;
            z-index: 2;
            width: 60%;
            max-width: 600px;
            padding: $large-1;
            letter-spacing: 1px;

            .subtitle {
                color: $text-dark;
                font-size: $small-3;
                font-weight: 500;
                margin-bottom: $small-3;
            }

            .welcome-inner-text {
                height: 105px;
            }

            h1 {
                color: $text-light;
                font-weight: 600;
                font-size: $large-1;
                margin-bottom: $medium-2;
            }

            p {
                color: $text-light;
                font-size: $small-3;
                line-height: 24px;
            }

            .links {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 80%;
                padding: 0;
                margin-top: $large-1;

                button {
                    width: 200px;
                    height: 40px;
                    border-radius: $medium-3;
                    border: none;
                    background-color: $tertiary;
                }

                a {
                    color: $text-light;
                    font-size: $small-3;
                    text-decoration: none;
                    letter-spacing: 1px;
                }
            }
        }
    }

    .goals {
        margin-top: 450px;
        padding: 0 80px;

        .companyGoals {
            color: #166EAD;
            text-align: center;
            font-size: $medium-1;
            letter-spacing: 1px;
        }

        h1 {
            text-align: center;
            font-size: $medium-3;
            letter-spacing: 1px;
            margin: $small-3 0;
        }

        .new {
            margin-top: 24px;
            text-align: center;
            line-height: $medium-3;
            font-size: $small-3;
            letter-spacing: 1px;

            br {
                display: none;
            }
        }

        .services-home {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: $large-1 0;

            button {
                width: 30%;
                height: 230px;
                border-radius: $large-2;
                background-color: #fafafa;
                border: 1px solid rgba($color: #333, $alpha: 0.6);

                img {
                    width: 30%;
                    margin-bottom: $medium-3;
                }

                p {
                    font-size: 14px;
                    letter-spacing: 1px;
                    font-family: $font;
                }
            }

            button:hover {
                filter: brightness(0.9);

                p {
                    font-size: 21px;
                    font-weight: 500;
                    text-shadow: 4px 4px 12px 12px;
                    transition: 0.3s ease;
                }
            }
        }

        .products-and-services {
            width: 100%;
            height: 60px;
            border-radius: $large-2;
            background-color: #fafafa;
            border: 1px solid rgba($color: #333, $alpha: 0.6);

            p {
                font-size: $medium-1;
                letter-spacing: 1px;
                font-family: $font;
            }

            &:hover {
                filter: brightness(0.9);

                p {
                    font-size: 21px;
                    font-weight: 500;
                    text-shadow: 4px 4px 12px 12px;
                    transition: 0.3s ease;
                }
            }
        }

        .workers-1 {
            display: flex;
            justify-content: center;
            margin: $large-1 0 $large-2 0;
            gap: 3%;

            img {
                margin-bottom: $small-2;
                width: 100%;
                height: auto;
            }

            h2 {
                font-size: $medium-1;
                margin-bottom: $small-1;
            }

            p {
                font-size: $small-3;
            }
        }
    }

    .techrise {
        margin: $large-2 0;

        .subtitle-1 {
            color: #166EAD;
            text-align: center;
            font-size: $medium-1;
            letter-spacing: 1px;
        }

        .subtitle-2 {
            color: #333;
            text-align: center;
            font-size: $medium-1;
            font-weight: 500;
            letter-spacing: 1px;
        }

        h1 {
            color: #333;
            text-align: center;
            font-size: $medium-3;
            letter-spacing: 1px;
            margin: $small-3 0;
        }

        .bg-img-2 {
            margin: $medium-2 0;
            width: 100%;
            height: 360px;
        }

        .carousel {
            display: flex;

            article {
                margin-top: 24px;
                padding: 0 100px;
                width: 100%;
                height: 180px;
                display: none;

                .description {
                    text-align: center;
                    line-height: $medium-2;
                    font-size: $small-3;
                    margin-bottom: 20px;
                    letter-spacing: 1px;
                }
            }

            .fade {
                animation-name: fade;
                animation-duration: 1s;
            }

            @keyframes fade {
                from {
                    opacity: 0;
                }

                to {
                    opacity: 1
                }
            }

        }

        nav {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: $medium-2;

            button {
                width: $large-2;
                height: $large-2;
                border: none;
                background-color: transparent;
                object-fit: cover;
                cursor: pointer;

                &:hover {
                    filter: brightness(0.9);
                }

                img {
                    width: $large-1;
                    height: $large-1;
                }
            }

            div {
                text-align: center;
                width: $large-2;
                margin: 0;
                padding: 0;
            }
        }
    }

    .contact {
        .bg-img2 {
            position: absolute;
            z-index: 3;
            width: 100%;
            height: 500px;
        }

        .contact-inner {
            position: absolute;
            z-index: 4;
            width: 100%;
            height: 500px;
            display: flex;
            justify-content: space-between;
            padding: $large-1 0 $large-1 $large-1;

            div {
                width: 50%;
                letter-spacing: 1px;

                .subtitle {
                    color: $text-dark;
                    font-size: $medium-1;
                    font-weight: 500;
                    margin-bottom: $medium-2;

                }

                h1 {
                    color: $text-light;
                    font-weight: 600;
                    font-size: $large-1;
                    margin-bottom: $medium-2;
                }

                p {
                    color: $text-light;
                    font-size: $small-3;
                    line-height: $medium-2;
                    text-align: justify;
                }

                form {
                    p {
                        font-size: $small-3;
                    }

                    input {
                        width: 90%;
                        height: 40px;
                        margin-bottom: $small-1;
                        border: none;
                        border-radius: $small-2;
                        color: $text-dark;
                        padding: $small-3;
                        font-size: $medium-1;
                        letter-spacing: 1px;
                    }

                    input:focus {
                        border: none;
                    }
                }

                .contact-privacy {
                    width: 90%;
                    font-size: 6px;
                    line-height: $small-2;
                    text-align: justify;
                    margin-bottom: $medium-2;
                }

                button {
                    width: 180px;
                    height: 40px;
                    border-radius: $medium-3;
                    border: none;
                    background-color: $tertiary;
                    color: $text-light;
                    font-size: $small-3;
                }

                button:hover {
                    filter: brightness(0.9);
                    transition: 0.3s ease-in;
                    cursor: pointer;
                }
            }

            div:last-child {
                width: 40%;
            }
        }
    }

    .contact-form {
        margin-top: 430px;
        color: #333;

        .bg-img-3 {
            background-color: #FAFAFA;
        }

        h1,
        p {
            color: #333 !important;
        }

        .subtitle {
            color: $primary !important;
        }
    }

    .references {
        margin-top: 450px;
        padding: 0 $large-3;

        .reviews {
            display: flex;
            justify-content: space-between;

            div {
                width: 30%;
                height: 250px;
                border-radius: $large-2;
                border: 1px solid rgba($color: #333, $alpha: 0.6);
                background-color: #fff;
                padding: $medium-1;
                text-align: center;

                .logos {
                    height: auto;
                    width: 80%;
                    align-self: center;
                    margin: 0 auto $small-2 auto;
                }

                .stars {
                    height: $medium-1;
                    margin: 0 auto $small-3 auto;
                }

                p {
                    font-size: $small-3;
                    color: $text-dark;
                    line-height: $medium-1;
                    letter-spacing: 1px;
                }

            }

            .review-center {
                height: 280px;
            }
        }

        .more {
            text-align: center;
            font-size: $medium-1;
            font-weight: 500;
            line-height: $medium-3;
            letter-spacing: 1px;
            color: $primary;
            margin-top: $large-1;
        }
    }

    .services {
        margin-top: 450px;
        padding: 0 10%;


        .service {
            letter-spacing: 1px;
            margin-bottom: $large-3;

            .subtitle {
                color: #166EAD;
                font-size: $medium-1;
                text-align: center !important;
            }

            h1 {
                font-size: $medium-3;
                margin: $small-3 0;
                text-align: center;
            }

            p {
                margin-top: 24px;
                line-height: $medium-2;
                font-size: $small-3;
                text-align: justify;
            }

            ul {
                li {
                    margin-bottom: $small-1;
                    font-size: $small-3;
                }
            }
        }
    }

    .service:last-child {
        margin-bottom: $large-2;
    }

    footer {
        width: 100%;
        height: 360px;
        background-color: #fff;
        margin-top: 532px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: $large-2 60px;

        div {
            width: calc(100% / 3);

            img {
                width: 80%;
                max-width: 300px;
                margin-bottom: $large-3;
            }

            .nav-light {
                ul {
                    padding-inline-start: 0;

                    li {
                        list-style: none;
                        height: $large-2;

                        a {
                            text-decoration: none;
                            color: $text-dark;
                            font-size: $medium-1;
                            letter-spacing: 2px;
                        }
                    }

                }
            }

            .nav-bold {
                ul {
                    padding-inline-start: 0;

                    li {
                        list-style: none;
                        height: $large-3;

                        a {
                            text-decoration: none;
                            color: $text-dark;
                            font-size: $medium-2;
                            font-weight: 400;
                            letter-spacing: 2px;
                        }
                    }

                }
            }

            .social-media {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 260px;
                margin-top: $medium-2;

                img {
                    width: $large-2;
                    height: $large-2;
                }
            }
        }
    }

    .contact-footer {
        margin-top: 920px;
    }
}

//-----Smartphone-Version-----//
@media screen and (max-width: 480px) {
    header {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $small-2 $small-2;
        background-color: #fff;


        .headerImg {
            height: $large-3 !important;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: $large-3 !important;
                height: auto;
                object-fit: cover;
                object-position: 50% 50%;
            }
        }

        nav {
            width: 55%;
            align-items: center;

            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0;

                li {
                    list-style: none;
                    text-align: center;

                    a {
                        color: #333;
                        text-decoration: none;
                        font-size: $small-3;
                    }
                }
            }
        }

        button {
            width: $large-3;
            height: $large-1;
            border-radius: $medium-3;
            border: none;
            background-color: $tertiary;

            a {
                color: $text-light;
                text-decoration: none;
                font-size: $small-3;
            }
        }
    }

    .welcome {
        .bg-img {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 300px;
        }

        .welcome-inner {
            position: absolute;
            z-index: 2;
            width: 70%;
            max-width: 600px;
            padding: $medium-3;
            letter-spacing: 1px;

            .subtitle {
                color: $text-dark;
                font-size: 10px;
                font-weight: 500;
                margin-bottom: $small-3;
            }

            .welcome-inner-text {
                height: 105px;
            }

            h1 {
                color: $text-light;
                font-weight: 600;
                font-size: $medium-3;
                margin-bottom: $medium-2;
            }

            p {
                color: $text-light;
                font-size: $small-2;
                line-height: $medium-1;
            }

            .links {
                display: none;
            }
        }

        .welcome-inner-contact {
            width: 80%;
        }
    }

    .goals {
        margin-top: 340px;
        padding: 0 $large-2;

        .companyGoals {
            color: #166EAD;
            text-align: center;
            font-size: $small-3;
            letter-spacing: 1px;
        }

        h1 {
            text-align: center;
            font-size: $medium-2;
            letter-spacing: 1px;
            margin: $small-2 0;
        }

        .new {
            margin-top: 24px;
            text-align: center;
            line-height: $medium-2;
            font-size: 12px;
            letter-spacing: 1px;

            br {
                display: none;
            }
        }

        .services-home {
            display: block;
            justify-content: center;
            align-items: center;
            margin-top: $medium-3;
            padding: 0;

            button {
                width: 100%;
                height: 120px;
                border-radius: $large-2;
                background-color: #fafafa;
                border: 1px solid rgba($color: #333, $alpha: 0.6);
                padding: $medium-2 $large-1;
                margin-bottom: $medium-3;
                display: flex;
                justify-content: space-between;
                align-items: center;

                img {
                    width: 25%;
                    margin-bottom: 0;
                }

                p {
                    font-size: $medium-1;
                    letter-spacing: 1px;
                    font-family: $font;
                    text-align: center;
                }
            }

            button:hover {
                filter: brightness(0.9);

                p {
                    font-size: 18px;
                    font-weight: 500;
                    text-shadow: 4px 4px 12px 12px;
                    transition: 0.3s ease;
                }
            }
        }

        .products-and-services {
            width: 100%;
            height: 60px;
            border-radius: $large-2;
            background-color: #fafafa;
            border: 1px solid rgba($color: #333, $alpha: 0.6);

            p {
                font-size: $medium-1;
                letter-spacing: 1px;
                font-family: $font;
            }

            &:hover {
                filter: brightness(0.9);

                p {
                    font-size: 21px;
                    font-weight: 500;
                    text-shadow: 4px 4px 12px 12px;
                    transition: 0.3s ease;
                }
            }
        }

        .workers-1 {
            display: block;
            justify-content: center;
            margin: $large-1 0 $large-2 0;
            gap: 3%;

            img {
                margin-bottom: $small-2;
                width: 100%;
                height: 320px;
            }

            h2 {
                font-size: $medium-2;
                margin-bottom: $small-1;
            }

            p {
                font-size: $small-3;
            }

            .worker {
                margin-bottom: $large-1;
            }
        }
    }

    .techrise {
        margin: $large-2 0;

        .subtitle-1 {
            color: #166EAD;
            text-align: center;
            font-size: $small-3;
            letter-spacing: 1px;
        }

        .subtitle-2 {
            color: #333;
            text-align: center;
            font-size: $small-3;
            font-weight: 500;
            letter-spacing: 1px;
        }

        h1 {
            color: #333;
            text-align: center;
            font-size: $medium-2;
            letter-spacing: 1px;
            margin: $small-3 0;
        }

        .bg-img-2 {
            margin: $medium-1 0;
            width: 100%;
            height: 200px;
        }

        .carousel {
            display: flex;

            article {
                margin-top: $medium-2;
                padding: 0 $large-1;
                width: 100%;
                height: 260px;
                display: none;

                .description {
                    text-align: center;
                    line-height: $medium-2;
                    font-size: $small-3;
                    margin-bottom: 20px;
                    letter-spacing: 1px;
                }
            }

            .fade {
                animation-name: fade;
                animation-duration: 1s;
            }

            @keyframes fade {
                from {
                    opacity: 0;
                }

                to {
                    opacity: 1
                }
            }

        }

        nav {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: $medium-2;

            button {
                width: $medium-3;
                height: $medium-3;
                border: none;
                background-color: transparent;
                object-fit: cover;
                cursor: pointer;
                padding: 0;

                &:hover {
                    filter: brightness(0.9);
                }

                img {
                    width: $medium-3;
                    height: $medium-3;
                }
            }

            div {
                text-align: center;
                width: $large-2;
                font-size: $small-3;
                text-align: center;
                margin: 0;
                padding: 0;
            }
        }
    }

    .contact {
        .bg-img2 {
            position: absolute;
            z-index: 3;
            width: 100%;
            height: 350px;
        }

        .contact-inner {
            position: absolute;
            z-index: 4;
            width: 100%;
            height: 350px;
            display: flex;
            justify-content: space-between;
            padding: $medium-2;

            div {
                width: 50%;
                letter-spacing: 1px;

                .subtitle {
                    color: $text-dark;
                    font-size: 10px;
                    font-weight: 500;
                    margin-bottom: $small-3;

                }

                h1 {
                    color: $text-light;
                    font-weight: 600;
                    font-size: 20px;
                    margin-bottom: $small-3;
                }

                p {
                    color: $text-light;
                    font-size: $small-2;
                    line-height: 14px;
                    text-align: justify;
                }

                form {
                    p {
                        font-size: $small-2;
                    }

                    input {
                        width: 95%;
                        height: $medium-3;
                        margin-bottom: $small-1;
                        border: none;
                        border-radius: $small-1;
                        color: $text-dark;
                        padding: $small-2;
                        font-size: $medium-1;
                        letter-spacing: 1px;
                    }

                    input:focus {
                        border: none;
                    }
                }

                .contact-privacy {
                    width: 95%;
                    font-size: $small-1;
                    line-height: 6px;
                    text-align: justify;
                    margin-bottom: $small-3;
                }

                button {
                    width: 95%;
                    height: $medium-3;
                    border-radius: $medium-3;
                    border: none;
                    background-color: $tertiary;
                    color: $text-light;
                    font-size: $small-2;
                    letter-spacing: 1px;
                }

                button:hover {
                    filter: brightness(0.9);
                    transition: 0.3s ease-in;
                    cursor: pointer;
                }
            }

            div:last-child {
                width: 40%;
            }
        }
    }

    .contact-form {
        margin-top: 332px;
        color: #333;

        .bg-img-3 {
            background-color: #FAFAFA;
        }

        h1,
        p {
            color: #333 !important;
        }

        .subtitle {
            color: $primary !important;
        }
    }

    .references {
        margin-top: 332px;
        padding: 0 $large-1;

        .reviews {
            display: block;

            div {
                width: 100%;
                height: 250px;
                border-radius: $large-2;
                border: 1px solid rgba($color: #333, $alpha: 0.6);
                background-color: #fff;
                padding: $medium-2;
                text-align: center;
                margin-bottom: $medium-3;

                .logos {
                    height: 60px;
                    width: auto;
                    margin: 0 auto $small-2 auto;
                }

                .stars {
                    height: $medium-2;
                    margin: 0 auto $medium-1 auto;
                }

                p {
                    font-size: $small-3;
                    color: $text-dark;
                    line-height: $medium-2;
                    letter-spacing: 1px;
                }

            }

            .review-center {
                height: 250px;
            }
        }

        .more {
            text-align: center;
            font-size: $small-3;
            font-weight: 500;
            line-height: $medium-3;
            letter-spacing: 1px;
            color: $primary;
            margin-top: $large-1;
        }
    }

    .services {
        margin-top: 332px;
        padding: 0 10%;


        .service {
            letter-spacing: 1px;
            margin-bottom: $large-2;

            .subtitle {
                color: #166EAD;
                font-size: $small-3;
                text-align: center !important;
            }

            h1 {
                font-size: $medium-2;
                margin: $small-3 0;
                text-align: center;
            }

            p {
                margin-top: 24px;
                line-height: $medium-2;
                font-size: $small-3;
                text-align: justify;
            }

            ul {
                li {
                    margin-bottom: $small-1;
                    font-size: $small-3;
                }
            }
        }
    }

    .service:last-child {
        margin-bottom: $large-2;
    }

    footer {
        width: 100%;
        height: 560px;
        background-color: #fff;
        margin-top: 398px;
        display: block;
        text-align: center;
        padding: $large-1;

        div {
            width: 100%;
            margin-bottom: $large-1;

            img {
                width: 80%;
                margin-bottom: $medium-2;
            }

            .nav-light {
                ul {
                    padding-inline-start: 0;

                    li {
                        list-style: none;
                        height: $medium-3;

                        a {
                            text-decoration: none;
                            color: $text-dark;
                            font-size: $small-3;
                            letter-spacing: 2px;
                        }
                    }

                }
            }

            .nav-bold {
                ul {
                    padding-inline-start: 0;

                    li {
                        list-style: none;
                        height: $large-1;

                        a {
                            text-decoration: none;
                            color: $text-dark;
                            font-size: $medium-1;
                            font-weight: 400;
                            letter-spacing: 2px;
                        }
                    }

                }
            }

            .social-media {
                padding: 0 $large-2;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin-top: $medium-1;

                img {
                    width: $large-2;
                    height: $large-2;
                }
            }
        }
    }

    .contact-footer {
        margin-top: 700px;
    }
}